.idea/
.vscode/
node_modules/
*.js
!demo-vue/app/main.js
src/*.d.ts
!src/index.d.ts
!src/references.d.ts
demo/platforms
demo-ng/platforms
publish/package/
native-src/android/.project
native-src/android/local.properties
native-src/android/.settings/