.idea/
.vscode/
node_modules/
*.js
src/*.d.ts
!src/index.d.ts
!src/references.d.ts
demo/platforms
publish/package/
native-src/android/.project
native-src/android/local.properties
native-src/android/.settings/