@import '~nativescript-theme-core/css/core.light.css';

page {
  background-color: #F4F4F4;
}

.tab-content {
  color: #808080;
  padding: 18;
}

.title {
  font-size: 18;
  margin: 0 0 8 0;
  color: #3c3c3c;
  /*horizontal-align: center;*/
}

label {
  font-size: 16;
}

.hint {
  font-size: 14;
  margin: 8;
}

button {
  background-color: #E0A458;
  padding: 8;
  margin: 8;
  font-size: 14;
  border-radius: 4;
}

.button {
  color: #FFFFFF;
}

.button-positive {
  background-color: #90A959;
}

.button-danger {
  background-color: #A63D40;
}

.button-neutral {
  background-color: #6494AA;
}
